imblearn==0.0
librosa==0.9.2
mutagen==1.46.0
numpy==1.23.3
pandas==1.5.2
scikit_learn==1.2.0
scikit_optimize==0.9.0
tqdm==4.64.1
torch==1.13.1
torchvision==0.14.1
seaborn==0.12.2
matplotlib==3.6.3
openpyxl==3.1.0